<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983113384930-05irbevr6s2ftml2nlvqnl3nia12psmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983113384930-05irbevr6s2ftml2nlvqnl3nia12psmn</string>
	<key>API_KEY</key>
	<string>AIzaSyCSy8vb8eCQdrC4irkLZ2CPzOul5bemodw</string>
	<key>GCM_SENDER_ID</key>
	<string>983113384930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiEkDers3</string>
	<key>PROJECT_ID</key>
	<string>akademi-flutter-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>akademi-flutter-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983113384930:ios:f420883374bf8e1ffd6fbb</string>
</dict>
</plist>